In [1]:
import pandas as pd

In [2]:
DATAPATH = '../data/'

appearances = pd.read_csv(f'{DATAPATH}/appearances.csv')
games = pd.read_csv(f'{DATAPATH}/games.csv')
leagues = pd.read_csv(f'{DATAPATH}/leagues.csv')
players = pd.read_csv(f'{DATAPATH}/players.csv')
shots = pd.read_csv(f'{DATAPATH}/shots.csv')
teams = pd.read_csv(f'{DATAPATH}/teams.csv')
teamstats = pd.read_csv(f'{DATAPATH}/teamstats.csv')

## Leagues

In [3]:
leagues.head(2)

   leagueID            name understatNotation
0         1  Premier League               EPL
1         2         Serie A           Serie_A

In [4]:
leagues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   leagueID           5 non-null      int64
 1   name               5 non-null      object
 2   understatNotation  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [5]:
leagues[leagues.duplicated(subset=['leagueID'])]

Empty DataFrame
Columns: [leagueID, name, understatNotation]
Index: []

## Players

In [6]:
players.head(2)

   playerID            name
0       560   Sergio Romero
1       557  Matteo Darmian

In [7]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7659 entries, 0 to 7658
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  7659 non-null   int64
 1   name      7659 non-null   object
dtypes: int64(1), object(1)
memory usage: 119.8+ KB

In [8]:
players[players.duplicated(subset=['playerID'])]

Empty DataFrame
Columns: [playerID, name]
Index: []

## Teams

In [9]:
teams.head(2)

   teamID         name
0      71  Aston Villa
1      72      Everton

In [10]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   teamID  146 non-null    int64
 1   name    146 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

In [11]:
teams[teams.duplicated(subset=['teamID'])]

Empty DataFrame
Columns: [teamID, name]
Index: []

## Games

In [12]:
games.head(2)

,gameID,leagueID,season,date,homeTeamID,awayTeamID,homeGoals,awayGoals,homeProbability,drawProbability,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA
0,81,1,2015,2015-08-08 15:45:00,89,82,1,0,0.2843,0.3999,...,5.90,1.62,3.6,6.0,1.67,4.0,5.75,1.64,4.07,6.04
1,82,1,2015,2015-08-08 18:00:00,73,71,0,1,0.3574,0.3500,...,4.27,1.91,3.5,4.0,2.00,3.5,4.20,1.82,3.88,4.70

In [13]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12680 entries, 0 to 12679
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gameID             12680 non-null  int64
 1   leagueID           12680 non-null  int64
 2   season             12680 non-null  int64
 3   date               12680 non-null  object
 4   homeTeamID         12680 non-null  int64
 5   awayTeamID         12680 non-null  int64
 6   homeGoals          12680 non-null  int64
 7   awayGoals          12680 non-null  int64
 8   homeProbability    12680 non-null  float64
 9   drawProbability    12680 non-null  float64
 10  awayProbability    12680 non-null  float64
 11  homeGoalsHalfTime  12680 non-null  int64
 12  awayGoalsHalfTime  12680 non-null  int64
 13  B365H              12675 non-null  float64
 14  B365D              12675 non-null  float64
 15  B365A              12675 non-null  float64
 16  BWH                12677 non-null  float64
 17  BWD                12677 non-null  float64
 18  BWA                12677 non-null  float64
 19  IWH                12662 non-null  float64
 20  IWD                12662 non-null  float64
 21  IWA                12662 non-null  float64
 22  PSH                12660 non-null  float64
 23  PSD                12660 non-null  float64
 24  PSA                12660 non-null  float64
 25  WHH                12674 non-null  float64
 26  WHD                12674 non-null  float64
 27  WHA                12674 non-null  float64
 28  VCH                12676 non-null  float64
 29  VCD                12676 non-null  float64
 30  VCA                12676 non-null  float64
 31  PSCH               12678 non-null  float64
 32  PSCD               12678 non-null  float64
 33  PSCA               12678 non-null  float64
dtypes: float64(24), int64(9), object(1)
memory usage: 3.3+ MB

In [14]:
games[games.duplicated(subset=['gameID'])]

Empty DataFrame
Columns: [gameID, leagueID, season, date, homeTeamID, awayTeamID, homeGoals, awayGoals, homeProbability, drawProbability, awayProbability, homeGoalsHalfTime, awayGoalsHalfTime, B365H, B365D, B365A, BWH, BWD, BWA, IWH, IWD, IWA, PSH, PSD, PSA, WHH, WHD, WHA, VCH, VCD, VCA, PSCH, PSCD, PSCA]
Index: []

[0 rows x 34 columns]

## Shots

In [15]:
shots.head(2)

,gameID,shooterID,assisterID,minute,situation,lastAction,shotType,shotResult,xGoal,positionX,positionY
0,81,554,NaN,27,DirectFreekick,Standard,LeftFoot,BlockedShot,0.104347,0.794,0.421
1,81,555,631.0,27,SetPiece,Pass,RightFoot,BlockedShot,0.064342,0.860,0.627

In [16]:
shots.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324543 entries, 0 to 324542
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   gameID      324543 non-null  int64
 1   shooterID   324543 non-null  int64
 2   assisterID  240199 non-null  float64
 3   minute      324543 non-null  int64
 4   situation   324543 non-null  object
 5   lastAction  324543 non-null  object
 6   shotType    324543 non-null  object
 7   shotResult  324543 non-null  object
 8   xGoal       324543 non-null  float64
 9   positionX   324543 non-null  float64
 10  positionY   324543 non-null  float64
dtypes: float64(4), int64(3), object(4)
memory usage: 27.2+ MB

In [17]:
shots[shots.duplicated()]

Empty DataFrame
Columns: [gameID, shooterID, assisterID, minute, situation, lastAction, shotType, shotResult, xGoal, positionX, positionY]
Index: []

## Appearances

In [18]:
appearances.head(2)

,gameID,playerID,goals,ownGoals,shots,xGoals,xGoalsChain,xGoalsBuildup,assists,keyPasses,xAssists,position,positionOrder,yellowCard,redCard,time,substituteIn,substituteOut,leagueID
0,81,560,0,0,0,0.0,0.000000,0.000000,0,0,0.000000,GK,1,0,0,90,0,0,1
1,81,557,0,0,0,0.0,0.106513,0.106513,0,1,0.106513,DR,2,0,0,82,222605,0,1

In [19]:
appearances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356513 entries, 0 to 356512
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameID         356513 non-null  int64
 1   playerID       356513 non-null  int64
 2   goals          356513 non-null  int64
 3   ownGoals       356513 non-null  int64
 4   shots          356513 non-null  int64
 5   xGoals         356513 non-null  float64
 6   xGoalsChain    356513 non-null  float64
 7   xGoalsBuildup  356513 non-null  float64
 8   assists        356513 non-null  int64
 9   keyPasses      356513 non-null  int64
 10  xAssists       356513 non-null  float64
 11  position       356513 non-null  object
 12  positionOrder  356513 non-null  int64
 13  yellowCard     356513 non-null  int64
 14  redCard        356513 non-null  int64
 15  time           356513 non-null  int64
 16  substituteIn   356513 non-null  int64
 17  substituteOut  356513 non-null  int64
 18  leagueID       356513 non-null  int64
dtypes: float64(4), int64(14), object(1)
memory usage: 51.7+ MB

In [20]:
appearances[appearances.duplicated(subset=['gameID', 'playerID'])]

Empty DataFrame
Columns: [gameID, playerID, goals, ownGoals, shots, xGoals, xGoalsChain, xGoalsBuildup, assists, keyPasses, xAssists, position, positionOrder, yellowCard, redCard, time, substituteIn, substituteOut, leagueID]
Index: []

## Teamstats

In [21]:
teamstats.head(2)

,gameID,teamID,season,date,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result
0,81,89,2015,2015-08-08 15:45:00,h,1,0.627539,9,1,4,13.8261,12,1,2.0,0,W
1,81,82,2015,2015-08-08 15:45:00,a,0,0.674600,9,4,10,8.2188,12,2,3.0,0,L

In [22]:
teamstats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25360 entries, 0 to 25359
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gameID         25360 non-null  int64
 1   teamID         25360 non-null  int64
 2   season         25360 non-null  int64
 3   date           25360 non-null  object
 4   location       25360 non-null  object
 5   goals          25360 non-null  int64
 6   xGoals         25360 non-null  float64
 7   shots          25360 non-null  int64
 8   shotsOnTarget  25360 non-null  int64
 9   deep           25360 non-null  int64
 10  ppda           25360 non-null  float64
 11  fouls          25360 non-null  int64
 12  corners        25360 non-null  int64
 13  yellowCards    25359 non-null  float64
 14  redCards       25360 non-null  int64
 15  result         25360 non-null  object
dtypes: float64(3), int64(10), object(3)
memory usage: 3.1+ MB

In [23]:
teamstats[teamstats.yellowCards.isnull()]

,gameID,teamID,season,date,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result
8280,4888,95,2014,2015-03-02 19:45:00,h,1,0.355629,8,3,2,8.1923,11,1,NaN,1,D

In [24]:
teamstats[teamstats.duplicated(subset=['gameID', 'teamID'])]

Empty DataFrame
Columns: [gameID, teamID, season, date, location, goals, xGoals, shots, shotsOnTarget, deep, ppda, fouls, corners, yellowCards, redCards, result]
Index: []